## Functions

In [ ]:
# function for printing top 5 movies

oscar_data = [
    ['The Shape of Water', 2017, 6.914, 123, ['sci-fi', 'drama'], 19.4, 195.243464],
    ['Moonlight', 2016, 6.151, 110, ['drama'], 1.5, 65.046687],
    ['Spotlight', 2015, 7.489, 129, ['drama', 'crime', 'history'], 20.0, 88.346473],
    ['Birdman', 2014, 7.604, 119, ['drama', 'comedy'], 18.0, 103.215094],
    ['12 Years a Slave', 2013, 7.71, 133, ['drama', 'biography', 'history'], 20.0, 178.371993],
    ['Argo', 2012, 7.517, 120, ['thriller', 'drama', 'biography'], 44.5, 232.324128],
    ['The Artist', 2011, 7.942, 96, ['drama', 'melodrama', 'comedy'], 15.0, 133.432856],
    ['The King\'s Speech', 2010, 7.977, 118, ['drama', 'biography', 'history'], 15.0, 414.211549],
    ['The Hurt Locker', 2008, 7.298, 126, ['thriller', 'drama', 'war', 'history'], 15.0, 49.230772],
    ['Slumdog Millionaire', 2008, 7.724, 120, ['drama', 'melodrama'], 15.0, 377.910544],
    ['No Country for Old Men', 2007, 7.726, 122, ['thriller', 'drama', 'crime'], 25.0, 171.627166],
    ['The Departed', 2006, 8.456, 151, ['thriller', 'drama', 'crime'], 90.0, 289.847354],
    ['Crash', 2004, 7.896, 108, ['thriller', 'drama', 'crime'], 6.5, 98.410061],
    ['Million Dollar Baby', 2004, 8.075, 132, ['drama', 'sport'], 30.0, 216.763646],
    ['The Lord of the Rings: Return of the King', 2003, 8.617, 201, ['fantasy', 'drama', 'adventure'], 94.0, 1119.110941],
    ['Chicago', 2002, 7.669, 113, ['musical', 'comedy', 'crime'], 45.0, 306.776732],
    ['A Beautiful Mind', 2001, 8.557, 135, ['drama', 'biography', 'melodrama'], 58.0, 313.542341],
    ['Gladiator', 2000, 8.585, 155, ['action', 'drama', 'adventure'], 103.0, 457.640427],
    ['American Beauty', 1999, 7.965, 122, ['drama'], 15.0, 356.296601],
    ['Shakespeare in Love', 1998, 7.452, 123, ['drama', 'melodrama', 'comedy', 'history'], 25.0, 289.317794],
    ['Titanic', 1997, 8.369, 194, ['drama', 'melodrama'], 200.0, 2185.372302],
    ['The English Patient', 1996, 7.849, 155, ['drama', 'melodrama', 'war'], 27.0, 231.976425],
    ['Braveheart', 1995, 8.283, 178, ['drama', 'war', 'biography', 'history'], 72.0, 210.409945],
    ['Forrest Gump', 1994, 8.915, 142, ['drama', 'melodrama'], 55.0, 677.386686],
    ['Schindler\'s List', 1993, 8.819, 195, ['drama', 'biography', 'history'], 22.0, 321.265768],
    ['Unforgiven', 1992, 7.858, 131, ['drama', 'western'], 14.4, 159.157447],
    ['Silence of the Lambs', 1990, 8.335, 114, ['thriller', 'crime', 'mystery', 'drama', 'horror'], 19.0, 272.742922],
    ['Dances with Wolves', 1990, 8.112, 181, ['drama', 'adventure', 'western'], 22.0, 424.208848],
    ['Driving Miss Daisy', 1989, 7.645, 99, ['drama'], 7.5, 145.793296],
    ['Rain Man', 1988, 8.25, 133, ['drama'], 25.0, 354.825435],
]

def print_top5_sort_by_column(data, column, reverse):
    data.sort(key = lambda row: row[column], reverse = reverse)
    print('{: <41} | {: >4} | {: >6} | {: >6} | {: >6} | {: >11}'.format('Title', 'Year', 'Rating', 'Length', 'Budget', 'Box office gross'))
    for row in data[:5]:
        print('{: <41} | {: >4} | {: >6.2f} | {: >6} | {: >6.1f} | {: >11.2f}'.format(row[0], row[1], row[2], row[3], row[5], row[6]))

#print_top5(oscar_data)
print("***Top films based on rating***")
print_top5_sort_by_column(data = oscar_data, column = 2, reverse = True) # sort on rating
print()
print("***Top films based on budget***") 
print_top5_sort_by_column(data = oscar_data, column = 5, reverse = True)

In [ ]:
def column_sum(data, column):
    result = 0
    for row in data:
        result += row[column]
    return result

def column_mean(data, column):
    mean = column_sum(data, column) / len(data)
    return mean

mean_score = column_mean(oscar_data, 2)
print('Average rating: {:.2f}'.format(mean_score))

mean_length = column_mean(oscar_data, 3)
print('Average length: {:.2f} min.'.format(mean_length))

mean_budget = column_mean(oscar_data, 5)
print('Average budget: ${:.2f} mil.'.format(mean_budget))

mean_gross = column_mean(oscar_data, 6)
print('Average revenue: ${:.2f} mil.'.format(mean_gross))

In [ ]:
# One of crucial commercial features of a film is its Return on Investment, or ROI. A film's ROI shows the revenues that have been generated by every dollar invested in that film. ROI is calculated by using the following equation:
# ROI = (BOX OFFICE GROSS − BUDGET) / BUDGET
# Let's write a function that will calculate the ROI of every Oscar-winning film:
def add_roi(data):
    for i in range(len(data)):
        budget = data[i][5]
        gross = data[i][6]
        roi = (gross - budget) / budget
        data[i].append(roi)
#add_roi(oscar_data)
#print(len(oscar_data[1]))
#print(oscar_data)
oscar_data.sort(key = lambda row:row[7], reverse = True)
print('Movie                                      |    ROI')
for row in oscar_data:
    print('{: <42} | {: >6.2f}'.format(row[0], row[7]))

In [ ]:
# As you can see, the most profitable films weren't the ones with the largest box office gross or rating...

In [ ]:
# Filter the table, keeping films from the years 2000 and later, then sort it in descending order by box office gross and print the top 5 results
def filter_after(data, year_threshold):
    result = []
    for row in data:
        year = row[1]
        if year >= year_threshold:
            result.append(row)
    return result

recent_films = filter_after(oscar_data, 2000)
print_top5_sort_by_column(data = recent_films,
                    column = 6,
                    reverse = True)
# check
min = 3000
for row in recent_films:
    year = row[1]
    if year < min:
        min = year
print('Min year: ', min)

In [ ]:
# # function for filtering the table by genres
def filter_by_genre(data, genre):
    result = []
    for row in data:
        genres = row[4]
        if genre in genres:
            result.append(row)
    return result

films_melodrama = filter_by_genre(oscar_data, 'melodrama')
print_top5_sort_by_column(data = films_melodrama, column = 0, reverse = False)

In [ ]:
# Popular genres
# function for filtering the table by genres
def filter_by_genre(data, genre):
    result = []
    for row in data:
        genres = row[4]
        if genre in genres:
            result.append(row)
    return result

all_genres = [
    'sci-fi', 'drama', 'crime', 'history', 'comedy', 'biography',
    'thriller', 'war', 'melodrama', 'action', 'adventure', 'western',
    'mystery', 'horror'
]

# Create a table (list of lists) with the columns 
# "genre name" and "number of films".
# Name the variable genres_counts
genres_counts = []
for genre in all_genres:
    # filter the table by genre
    # to do this, use the function filter_by_genre()
    filtered_data = filter_by_genre(oscar_data, genre)

    # calculate the length of the filtered table
    # to do this, use the function len()
    count = len(filtered_data)

    # add the genre name and results of the calculation to the table
    # to do this, use the function append()
    genres_counts.append([genre, count])

# sort the table in descending order
# to do this, use the function sort()
genres_counts.sort(key = lambda row:row[1], reverse = True)

print('Genre        | Number')
print('------------------------')
for row in genres_counts:
    genre = row[0]
    count = row[1]
    print('{: <11} | {: >10}'.format(genre, count))

In [ ]:
# let's define some mean parameters for genres
def filter_by_genre(data, genre):
    result = []
    for row in data:
        genres = row[4]
        if genre in genres:
            result.append(row)
    return result

def column_sum(data, column):
    result = 0
    for row in data:
        result += row[column]
    return result

def column_mean(data, column):
    total = column_sum(data, column)
    mean = total / len(data)
    return mean

def add_roi(data):
    for i in range(len(data)):
        budget = data[i][5]
        gross = data[i][6]
        roi = (gross - budget) / budget
        data[i].append(roi)

def add_cost_per_minute(data):
    for i in range(len(data)):
        length = data[i][3]
        budget = data[i][5]
        price_per_minute = budget / length
        data[i].append(price_per_minute)

# the variable with the selected genres
selected_genres = ['history', 'melodrama', 'crime', 'biography', 'thriller']

add_roi(oscar_data) 
add_cost_per_minute(oscar_data)

genres_means = []
for genre in selected_genres:
    # filter the table by genre
    films_by_genre = filter_by_genre(oscar_data, genre)
    
    # calculate the filtered table's means
    n = len(films_by_genre)

    # mean score (index column 2)
    mean_score = column_mean(films_by_genre, column = 2)
        
    # mean length (index column 3)
    mean_length = column_mean(films_by_genre, column = 3)

    # mean ROI value (index column 7)
    mean_roi = column_mean(films_by_genre, column = 7)

    #average cost per minute (index column 8)
    mean_cpm = column_mean(films_by_genre, column = 8)

    genres_means.append([genre, mean_score, mean_length, mean_roi, mean_cpm])
   
print('Genre      | Rating | Length  | ROI   | Cost per minute')
print('-------------------------------------------------------')
for row in genres_means:
    print('{: <9} | {: >7.2f} | {: >5.2f} | {: >5.2f} | {: >16.2f}'.format(
        row[0], row[1], row[2], row[3], row[4]))

## Change column names in data frame

In [ ]:
measurements = [['Sun', 146, 152], # Measurements are stored in a list of lists 
                                ['Moon', 0.36, 0.41], # measurements
                                ['Mercury', 82, 217], 
                                ['Venus', 38, 261],
                                ['Mars', 56, 401],
                                ['Jupiter', 588, 968],
                                ['Saturn', 1195, 1660],
                                ['Uranus', 2750, 3150],
                                ['Neptune', 4300, 4700],
                                ['Halley\'s comet', 6, 5400]]
# Column names are stored in the header variable.
header = ['Celestial bodies ','MIN', 'MAX'] 
# We'll save the data structure in the celestial variable.
celestial = pd.DataFrame(data=measurements, columns=header)

print(celestial.columns)

In [ ]:
celestial.set_axis(['celestial_bodies','min_distance','max_distance'],
                                     axis='columns', inplace=True)
print(celestial.columns)

In [ ]:
print(celestial)

## Missing values

In [ ]:
import pandas as pd

cholera = pd.read_csv('cholera.csv')
print(cholera)

In [ ]:
print(cholera.isnull().sum())

In [ ]:
cholera['imported_cases'] = cholera['imported_cases'].fillna(0)
print(cholera)

In [ ]:
cholera.dropna(subset=['total_cases', 'deaths', 'case_fatality_rate' ], inplace=True)

print(cholera)

In [ ]:
# Now delete the column on the right with the missing values. Call the dropna() method again. Just like set_axis(), it also has an axis argument. If we assign the 'columns' value to that argument, it will delete every column that has at least one omission
cholera.dropna(axis = 'columns', inplace = True)
print(cholera)

In [ ]:
# example
import pandas as pd

df = pd.read_csv('music_log_upd_col.csv')

df['track_name'] = df['track_name'].fillna('unknown')
df['artist_name'] = df['artist_name'].fillna('unknown')
df.dropna(subset=['genre_name'], inplace=True)

df.info()

## Processing dublicates

In [5]:
import pandas as pd
rating = ['date', 'name', 'points']
players = [
                ['2018.01.01',  'Rafael Nadal', 10645],
                ['2018.01.08',  'Rafael Nadal', 10600],
                ['2018.01.29',  'Rafael Nadal', 9760],
                ['2018.02.19',  'Roger Federer',    10105], 
                ['2018.03.05',  'Roger Federer',    10060],
                ['2018.03.19',  'Roger Federer',    9660],
                ['2018.04.02',  'Rafael Nadal Parera',  8770],
                ['2018.06.18',  'Roger Federer',    8920],
                ['2018.01.29',  'Rafael Nadal', 9760],
                ['2018.06.25',  'Rafael Nadal Parera',  8770],
                ['2018.07.16',  'Rafael Nadal Parera',  9310],
                ['2018.08.13',  'Rafael Nadal Parera',  10220],
                ['2018.08.20',  'Rafael Nadal Parera',  10040],
                ['2018.09.10',  'Rafael Nadal Parera',  8760],
                ['2018.10.08',  'Rafael Nadal Parera',  8260],
                ['2018.10.15',  'Rafael Nadal Parera',  7660],
                ['2018.11.05',  'Novak Djokovic',   8045],
                ['2018.06.18',  'Roger Federer',    8920],
                ['2018.11.19',  'Novak Djokovic',   9045]
]
tennis = pd.DataFrame(data=players, columns=rating)
print(tennis)

          date                 name  points
0   2018.01.01         Rafael Nadal   10645
1   2018.01.08         Rafael Nadal   10600
2   2018.01.29         Rafael Nadal    9760
3   2018.02.19        Roger Federer   10105
4   2018.03.05        Roger Federer   10060
5   2018.03.19        Roger Federer    9660
6   2018.04.02  Rafael Nadal Parera    8770
7   2018.06.18        Roger Federer    8920
8   2018.01.29         Rafael Nadal    9760
9   2018.06.25  Rafael Nadal Parera    8770
10  2018.07.16  Rafael Nadal Parera    9310
11  2018.08.13  Rafael Nadal Parera   10220
12  2018.08.20  Rafael Nadal Parera   10040
13  2018.09.10  Rafael Nadal Parera    8760
14  2018.10.08  Rafael Nadal Parera    8260
15  2018.10.15  Rafael Nadal Parera    7660
16  2018.11.05       Novak Djokovic    8045
17  2018.06.18        Roger Federer    8920
18  2018.11.19       Novak Djokovic    9045

In [9]:
#print(tennis.duplicated())
print(tennis.duplicated().sum())
print(tennis.shape)

2
(19, 3)

In [10]:
tennis = tennis.drop_duplicates().reset_index(drop=True)
print(tennis.shape)

(17, 3)

In [2]:
print(tennis['name'].unique())

['Rafael Nadal' 'Roger Federer' 'Rafael Nadal Parera' 'Novak Djokovic']

In [3]:
tennis['name'] = tennis['name'].replace('Rafael Nadal', 'Rafael Nadal Parera')

print(tennis)

          date                 name  points
0   2018.01.01  Rafael Nadal Parera   10645
1   2018.01.08  Rafael Nadal Parera   10600
2   2018.01.29  Rafael Nadal Parera    9760
3   2018.02.19        Roger Federer   10105
4   2018.03.05        Roger Federer   10060
5   2018.03.19        Roger Federer    9660
6   2018.04.02  Rafael Nadal Parera    8770
7   2018.06.18        Roger Federer    8920
8   2018.06.25  Rafael Nadal Parera    8770
9   2018.07.16  Rafael Nadal Parera    9310
10  2018.08.13  Rafael Nadal Parera   10220
11  2018.08.20  Rafael Nadal Parera   10040
12  2018.09.10  Rafael Nadal Parera    8760
13  2018.10.08  Rafael Nadal Parera    8260
14  2018.10.15  Rafael Nadal Parera    7660
15  2018.11.05       Novak Djokovic    8045
16  2018.11.19       Novak Djokovic    9045

In [ ]:
# Example
import pandas as pd

df = pd.read_csv('music_log_upd_nan.csv')

shape_table = df.shape

df = df.drop_duplicates().reset_index(drop=True)
shape_table_update = df.shape

if shape_table_update[0] < shape_table[0]:
    print('Table smaller, current dimensions:', shape_table_update)
    #print('Table smaller, current dimensions: {}, previous: {}'.format(shape_table_update, shape_table))
else:
    print('Table dimensions unchanged, current dimensions:', shape_table_update)

In [ ]:
import pandas as pd

df = pd.read_csv('music_log_upd_nan.csv')

df['genre_name'] = df['genre_name'].replace('электроника', 'electronic')

genre_final_count = df[df['genre_name'] == 'электроника']['genre_name'].count()
print(genre_final_count)

In [ ]:
# Example
import pandas as pd
df = pd.read_csv('/datasets/music_log_upd_en.csv')
print(df.head(10)) # at least first rows look perfect
print(df.columns)  # columns names correct
na_number = df.isna().sum() # the isna() method detects missing and undefined values
print(na_number) # no missing values
duplicated_number = df.duplicated().sum()
print(duplicated_number)

In [ ]:
# Example
import pandas as pd
df = pd.read_csv('/datasets/music_log_upd_en.csv')

# If we want to search for people who stand apart from the rest in the Yandex.Music data, we can use the same groupby() method we’re using now to search for a new Earth. We also won't be able to complete the task assigned to us by the mission control either without applying this method.
# Before calculating the happiness metric, we will have to study the users whose happiness we’ll be gauging. Who are these people who listen to so much music? Do they have any particular preferences, or do they listen to anything and everything?

genre_grouping = df.groupby('user_id')
genre_counting = genre_grouping['genre_name'].count()
print(genre_counting.head(30))

In [ ]:
# Let’s try to track down a user ID for one of the users from our list of music lovers. To do this, we must group the data on the user in order to compile the song genres they listen to.
import pandas as pd
df = pd.read_csv('/datasets/music_log_upd_en.csv')

genre_grouping = df.groupby('user_id')['genre_name']
# People who listen to more than 50 songs a day might have a wider preference range. 
# In order to confirm this, write a get_heavy_user function, which accepts a certain grouping as its groups argument. The function should sift through the entire grouping.
def get_heavy_user(groups):
    for group_name, group_data in groups:
        if len(group_data) > 50:
            user = group_name
            return user

user_id = get_heavy_user(genre_grouping)
print(user_id)

In [ ]:
# You have discovered a music lover in the Yandex.Music table with unique data. This user has listened to more than 50 songs in a single day.
# Acquire a table with the songs they listened to.
music_user = df[(df['user_id'] == user_id) & df['total_play_seconds'] > 0]
print(music_user)

In [ ]:
# Now we’ll find out how much time this user has spent listening to music of each genre.
sum_music_user = music_user.groupby('genre_name')['total_play_seconds'].sum()
print(sum_music_user)

In [ ]:
# However, song lengths can vary greatly from genre to genre. It’s important for us to figure out how many songs from each genre the user has played
count_music_user = music_user.groupby('genre_name')['genre_name'].count()
print(count_music_user)

In [ ]:
# We need to position the largest values at the top so the user’s preferences are readily apparent
final_sum = count_music_user.sort_values(ascending = False)
print(final_sum)

In [ ]:
# Now we will have to do the same with the number of songs the music lover has listened to.
final_count = count_music_user.sort_values(ascending = False)
print(final_count)

## Descriptive Statistics

In [ ]:
print(df['total_play_seconds'].max())
# The longest song was played for over an hour. It would be interesting to know what song was played for that long.
df[df['total_play_seconds'] == df['total_play_seconds'].max()]

In [ ]:
# We look for the minimum value, i.e., the shortest song, using the min() method. It stands to reason that there are no measures less than zero in the Yandex.Music data: if a user skipped a song, the ‘total_play_seconds’ value equals 0. (There aren't any negative numbers in this dataset, but sometimes they pop up as the result of errors. For that reason, it's good practice to specify "> 0".) Our goal is to determine which songs were listened to for a short period but weren’t skipped immediately.
df_min = df[df['total_play_seconds'] > 0]
print(df_min['total_play_seconds'].min())

In [ ]:
# the name of the song that was skipped after the shortest play.
df_min[df_min['total_play_seconds'] == df_min['total_play_seconds'].min()]

In [ ]:
# The mean and median estimate the values in the middle of the data set. If there are just as many people who listen to lots of music as there are people who listen to only a little music, the average would be enough for us. But when there are listeners disassociated from the main group who listen to music for eight hours, their listening data will raise the average significantly. That’s why the median is better for estimating the preferences of a wide range of consumers.
# In geometry, the median divides a shape into two parts with equal areas. In statistics, a median divides a data set in half: values less than the median are in one half, while values greater than the median are in the other. It's common sense to sort a list prior to determining the median, in either ascending or descending order.
df_stat = df.head(4)
print(df_stat['total_play_seconds'].sort_values())
print(df_stat['total_play_seconds'].median())
df_drop_null = df[df['total_play_seconds'] > 0]
# 10.126793
print(df_drop_null['total_play_seconds'].median())
# 22.579500000000003
# In order to make sure that the leading listeners are actually raising the bar, let’s find the average of all the values by using the mean() method
print(df_drop_null['total_play_seconds'].mean())
# 97.58903824082049

In [ ]:
# Get a table with songs from the most popular genre, Pop (it’s important to capitalize it), excluding skipped songs. Save the results to the pop_music variable
import pandas as pd
df = pd.read_csv('/datasets/music_log_upd_en.csv')
#print(df.head(30))

pop_music = df[(df['genre_name'] == 'Pop') & (df['total_play_seconds'] > 0)]
#pop_music = df[(df['genre_name'] == 'Pop')] 

#pop_music = pop_music[pop_music['total_play_seconds'] > 0]
print(pop_music.sort_values(by = 'total_play_seconds', ascending = True))
# print(pop_music['total_play_seconds'].min())

In [ ]:
# Find the maximum listening time for a pop song
pop_music_max_total_play = pop_music['total_play_seconds'].max()
print(pop_music_max_total_play)

In [ ]:
# Get the row from the pop_music table with info on the longest listening time for a ‘pop’ song
pop_music_max_info = pop_music[pop_music['total_play_seconds'] == pop_music_max_total_play]
print(pop_music_max_info)

In [ ]:
# Dig for the minimum non-null listening time for a pop song. 
pop_music_min_total_play = pop_music['total_play_seconds'].min()
print(pop_music_min_total_play)

# Print data about the pop song that was turned off faster than any other song played
pop_music_min_info = pop_music[pop_music['total_play_seconds'] == pop_music_min_total_play]
print(pop_music_min_info)

In [ ]:
# Now calculate the median listening time for pop songs
pop_music_median = pop_music['total_play_seconds'].median()
print(pop_music_median)
# Calculate the average listening time for pop songs
pop_music_mean = pop_music['total_play_seconds'].mean()
print(pop_music_mean)

## Solving Problems and Presenting Results

In [ ]:
# Every product’s team decides for itself how to calculate a happiness level, as for Yandex.Music, it’s user median listening time.
# We calculate how long every user listened to music. In order to do this, group the DataFrame by user.